body {
  margin: 0;
  padding: 0;
  font-family: arial,helvetica,sans-serif;
}

/*================================
        Top Nav Bar
==================================*/

#topbar {
  background-color: #790000;
  width: 100%;
  height: 40px;
  color: #fff;
}

.fixedwidth {
  width: 1000px;
  margin: 0 auto;
}

#logodiv {
  padding-top: 8px;
  float: left;
  padding-right: 10px;
}

#logo-space {
  float: left;
  width: 170px;
  height: 40px;
  border-right: 1px solid #990000;
  border-left: 1px solid #990000;
  margin-left: -3px;
}

#topmenudiv {
  float: left;
}

#topmenudiv ul {
  margin: 0;
  padding: 0;
}

#topmenudiv li {
  float: left;
  list-style: none;
  font-weight: bold;
  font-size: 0.8em;
  border-right: 1px solid #990000;
  height: 100%;
  padding: 10px 10px 13.5px 10px;
}

#searchdiv {
  float: left;
  padding-left: 8px;
  padding-top: 6px;
}

#searchdiv input {
  height: 22px;
  width: 100%;
  font-weight: bold;
  color: #333;
  border: none;
  padding: 3px 0 3px 8px;
  font-size: .8em;
}

#magnify-glass {
  margin-left: -15px;
  padding-top: 12px;
  border: none;
  float: left;
}

/*================================
          News Bar
==================================*/

.break {
  clear: both;
}


#newsbar {
  background-color: #990000;
  width: 100%;
  height: 100px;
  color: #fff;
}

#newsbar p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  float: left;
}

#newsheader {
  font-size: 3em;
}

#rss {
  float: right;
  margin: 35px 26px 18px 26px;
  padding-top: 5px;
  font-size: 0.8em;
}

#rss img {
  display: inline-block;
  height: 13px;
}

/*================================
            Topic Menu
==================================*/

#topic-menu {

}

#topic-menu ul {
  background-color: #3E0C0D;
  padding: 5px 0 7px 5px;
  margin: 0;
  height: 13px;

}

#topic-menu li {
  list-style: none;
  float: left;
  font-size: 13px;
  border-right: 1px solid #990000;
  padding: 0 5px 0 5px;
}

.selected {
  background-color: #EDEDED;
  color: #585858;
  font-weight: bold;
  height: 21px;
  position: relative;
  top: -5px;
  padding-top: 5px !important;
  margin-left: -5px !important;
}
